<!-- Cloudflare Turnstile Widget -->
<div
    class="cf-turnstile"
    data-sitekey="{{ turnstile_site_key }}"
    data-theme="light"
    data-callback="turnstileSuccessCallback"
    data-expired-callback="turnstileExpiredCallback"
    data-error-callback="turnstileErrorCallback"
></div>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<input type="hidden" id="cf-turnstile-response" name="turnstile_response" value="">
<script>
    function setTurnstileResponse(token) {
        var input = document.getElementById('cf-turnstile-response');
        if (input) {
            input.value = token || '';
        }
    }

    window.turnstileSuccessCallback = function(token) {
        setTurnstileResponse(token);
    };

    window.turnstileExpiredCallback = function() {
        setTurnstileResponse('');
    };

    window.turnstileErrorCallback = function() {
        setTurnstileResponse('');
    };
</script>
